.Rproj.user
.Rhistory
.RData
MareyMap.Rproj
vignettes/vignette-concordance.tex
vignettes/vignette.log
vignettes/vignette.pdf
vignettes/vignette.synctex.gz
vignettes/vignette.tex
vignettes/vignette.toc
